<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink=''>Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink='/dashbord'>Dashbord</a>
        </li>
     
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" routerLink='/register'><button class="btn btn-secondary my-2 my-sm-0" type="submit">Register</button></a>
        <a class="nav-link" routerLink='/login'><button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button></a>
      </form>
    </div>
  </nav>
  <table><tr><td>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Catégorie</a>
        <a href="#" class="list-group-item list-group-item-action">vettement</a>
        <a href="#" class="list-group-item list-group-item-action disabled">ElectroMenager</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Voiture</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Alimentaire</a>
      </div>
  </td>
<td>
    <div class="card mb-3">
        <h3 class="card-header">vettement</h3>
        
            <img  src="assets/img/penta.jpg" width="100px">
       
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">pantalon</li>
          <li class="list-group-item">80 DT</li>
          
        </ul>
        
     
     
      </div>
</td>
<td>
    <div class="card mb-3">
        <h3 class="card-header">ElectroMenager</h3>
        
            <img  src="assets/img/micro.jpg" width="200px" height="200px">
       
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">micro onde</li>
          <li class="list-group-item">180 DT</li>
          
        </ul>
        
     
     
      </div>
</td>
<td>
    <div class="card mb-3">
        <h3 class="card-header">Voiture</h3>
        
            <img  src="assets/img/golf8.jpg" width="200px" height="200px">
       
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">golf 8</li>
          <li class="list-group-item">38000 DT</li>
          
        </ul>
        
     
     
      </div>
</td>
<td>
    <div class="card mb-3">
        <h3 class="card-header">Alimentaire</h3>
        
            <img  src="assets/img/delice.jpg" width="200px" height="200px">
       
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">jus Delice</li>
          <li class="list-group-item">3.800 DT</li>
          
        </ul>
        
     
     
      </div>
</td></tr></table>
  
